<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="customcart" translate="label" type="text" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="0">
            <label>Custom Cart</label>
            <tab>general</tab>
            <resource>Ivanchenko_CustomCart::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>General</label>
                <field id="primary_cart" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Make Custom Cart Primary</label>
                    <comment>When enabled, /checkout/cart redirects (302) to /customcart/cart, and the minicart's "View and Edit Cart" link points to /customcart/cart as well. The checkout process itself (payment/shipping/address steps) is unaffected either way.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
